@page "/Kanban"
@using TodoApplication.Shared.Dtos
@using TodoApplication.Client.State
@using TodoApplication.Client.Actions

@inherits Fluxor.Blazor.Web.Components.FluxorComponent;

@inject IJSRuntime JSRuntime
@inject Fluxor.IDispatcher Dispatcher
@inject Fluxor.IState<KanbanState> KanbanState

<MudContainer>
    @foreach (var column in KanbanState.Value.Columns)
    {
        <MudPaper Elevation="1" Class="pa-2 mr-2" Style="width:250px; min-height:300px; display: inline-block;">
            <MudText Typo="Typo.h6">@column.Key</MudText>
            <MudButton OnClick="Callback">Add Item</MudButton>
            <div @ref="dropContainer">
                @foreach (var item in column.Value)
                {
                    @* <MudPaper Elevation="1" Class="ma-2 p-2" Style="cursor:move;" draggable="true" @on:dragstart:preventDefault="()=>DragStart(item.Id)" @on:dragend:preventDefault="()=>DragEnd()"> *@
                    @*     @item.Text *@
                    @* </MudPaper> *@
                    <MudPaper Elevation="1" Class="ma-2 p-2">
                        @item.Title
                    </MudPaper>


                }
            </div>
        </MudPaper>
    }
</MudContainer>

@code {
    private ElementReference dropContainer;

    private Dictionary<string, List<TodoItemDto>> Columns = new Dictionary<string, List<TodoItemDto>>()
    {
        { "Todo", new List<TodoItemDto>() { new TodoItemDto() { TodoItemId = 1, Title = "First item" }, new TodoItemDto() { TodoItemId = 2, Title = "Second item" } } },
        { "Doing", new List<TodoItemDto>() { new TodoItemDto() { TodoItemId = 3, Title = "Third item" } } },
        { "Done", new List<TodoItemDto>() { new TodoItemDto() { TodoItemId = 4, Title = "Fourth item" } } }
    };

    private string draggedItemId;

    private void DragStart(string itemId)
    {
        draggedItemId = itemId;
    }

    private async Task DragEnd()
    {
        await JSRuntime.InvokeVoidAsync("dragAndDrop.performDrop", dropContainer, draggedItemId);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("dragAndDrop.init", dropContainer);
        }
    }

    private void HandleDragStart(DragEventArgs obj)
    {
        draggedItemId = obj.ToString();
    }

    private async Task HandleDragEnd(DragEventArgs obj)
    {
        await JSRuntime.InvokeVoidAsync("dragAndDrop.performDrop", dropContainer, draggedItemId);
    }

    private void Callback(MouseEventArgs obj)
    {
        Console.WriteLine($"Adding a new task");
        var newTask = new TodoItemDto() { TodoItemId = 5, Title = "New task" };
        Console.WriteLine($"Task: {newTask}");
        Dispatcher.Dispatch(new AddTaskAction("Todo", newTask));
        Console.WriteLine($"After dispatching AddTaskAction");
    }

}
